<?xml version="1.0" encoding="utf-8" ?>
<!--autoReload="true": Automatically reload the config file if it changes while the application is running-->
<!--internalLogLevel="Warn": Set internal logging level for NLog. "Warn" will log only warnings and errors related to NLog itself-->
<!--internalLogFile="internal-nlog.txt": Log internal NLog issues to this file, useful for debugging NLog issues-->
<!--throwConfigExceptions="true": If true, exceptions in the NLog configuration will be thrown, making it easier to debug config issues-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt"
      throwConfigExceptions="true">

  <!-- Define various log targets where logs will be written -->
  <targets>
    <!-- File target: Write logs to a file named "logfile.log" inside the "logs" directory -->
    <!-- name="file": Name for this target, used to refer to it in rules -->
    <!-- fileName="D:/Logs/nlog-all-${shortdate}.log": Path to the file where logs will be saved -->
    <!-- layout: Log format with date, level, logger, message, and exception details if any -->
    <!--<target xsi:type="File"
      name="file"
      fileName="D:/Logs/nlog-all-${shortdate}.log"
      layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
      -->
    <target xsi:type="Database"
      name="database"
      connectionStringName="NLog"
      commandText="exec dbo.InsertLog
        @level,
        @callSite,
        @type,
        @message,
        @stackTrace,
        @innerException,
        @additionalInfo">
      <parameter name="@level" layout="${level}" />
      <parameter name="@callSite" layout="${callsite}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@message" layout="${exception:format=message}" />
      <parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
      <parameter name="@innerException"
        layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
      <parameter name="@additionalInfo" layout="${message}" />
    </target>
    <!-- Console target: Display logs in the console window -->
    <!-- name="console": Name for this target, used to refer to it in rules -->
    <!-- layout: Format similar to file target -->
    <target xsi:type="Console"
      name="console"
      layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />

    <!-- Null target: Discard logs, used to filter out logs from specific namespaces -->
    <!-- name="blackhole": Any logs sent to this target will be ignored or discarded -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- Define logging rules to control which logs go to which targets -->
  <!-- Define logging rules for each targets -->
  <rules>
    <!-- Filter out logs from the "Microsoft" namespace by sending them to the "blackhole" target -->
    <!-- minlevel="Trace": Minimum log level, capturing all logs from Trace level upwards -->
    <!-- writeTo="blackhole": Send logs to the blackhole target to ignore them -->
    <!-- final="true": Stop further processing of logs that match this rule -->
    <logger name="Microsoft.*"
      minlevel="Information"
      writeTo="blackhole"
      final="true" />

    <!-- Filter out logs from the "System" namespace by sending them to the "blackhole" target -->
    <logger name="System.*"
      minlevel="Trace"
      writeTo="blackhole"
      final="true" />

    <!-- Send all logs with level Information or higher to the file target -->
    <!-- name="*": Apply this rule to all loggers or you can say all namespaces -->
    <!-- minlevel="Information": Minimum log level is Information -->
    <!-- writeTo="file": Send matching logs to the "file" target -->
    <logger name="*"
      minlevel="Trace"
      writeTo="database" />

    <!-- Send all logs with level Debug or higher to the console target -->
    <!-- minlevel="Debug": Minimum log level is Debug -->
    <!-- Send matching logs to the "console" target -->
    <logger name="*"
      minlevel="Trace"
      writeTo="console" />
  </rules>
</nlog>